<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% for d in da %}
    <form action="{% url 'edit_img' d.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <img src="{{d.photo.url}}" height="100px" width="100px">

    <input type="file" name="image">
    <input type="submit" value="update image">
</form>
    {% endfor %}



</head>
<body>
    
</body>
</html>