<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Place</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Email</th>
            <th>Username</th>
        </tr>
        {% for u in us %}
        <tr>
            <td>{{u.name}}</td>
            <td>{{u.gender}}</td>
            <td>{{u.place}}</td>
            <td>{{u.phone}}</td>
            <td>{{u.address}}</td>
            <td>{{u.email}}</td>
            <td>{{u.username}}</td>
            <td><a href="{% url 'edit' u.id %}">Edit user</a></td>
            <td><a href="{% url 'delete' u.id %}">Delete user</a></td>
        </tr>
        {% endfor %}
    </table>




{% if messages %}
{% for m in messages %}
<script>
    alert('{{m}}')
</script>
{% endfor %}
{% endif %}
</body>
</html>
